<div class="container" style="margin-top:20px;">

	<h1>Secrets:</h1>
	<div class="list-group">
		<% @secrets.each do |secret| %>
			<div class="row" style="border-top: 2px solid black; margin-top: 20px">
				<p>
					<%= secret.contex %>
					<span class="badge badge-primary badge-pill"><%= secret.likers.count %> likes</span>
				</p>
			</div>
			<div class="row align-self-start">
				<% if current_user.liked_secrets.include? secret %>
					<form action="/likes/<%= secret.id %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<button class="btn btn-warning">Unlike</button>
					</form>
				<% else %>
					<form action="/likes/<%= secret.id %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<button class="btn btn-primary">like</button>
					</form>
				<% end %>
				<% if current_user == secret.user %>
					<form action="/secrets/<%= secret.id %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<button class="btn btn-danger" style="margin-left: 5px">Delete</button>
					</form>
				<% end %>
			</div>	
		<% end %>
	</div>

</div>