<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Your gold <%= session[:total] %></p>
	<form action="/run" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="build" value="farm">
		<p>Farm:(earns 10-20 gold)</p><button type="submit">Find Gold</button>
	</form>
	<form action="/run" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="build" value="cave">
		<p>Cave:(earns 5-10 gold)</p><button type="submit">Find Gold</button>
	</form>
	<form action="/run" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="build" value="house">
		<p>House:(earns 2-5 gold)</p><button type="submit">Find Gold</button>
	</form>
	<form action="/run" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="build" value="casino">
		<p>Casio:(earns upto 50 gold or loses 50)</p><button type="submit">Find Gold</button>
	</form>
	<a href="/reset">Reset</a>
	<%= session[:event] %>
</body>
</html>
